* {
  box-sizing: border-box;
  top: 0;
  right: 0;
}

.contain-form {
  background: rgba(0, 13, 255, 0.2);
}

.rand-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
